{% extends 'core/dashboard/profile/layout.html' %}
{% load custom_filters %}

{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}
<title>TrixBank | Change Password</title>
{% endblock title %}

{% block profile %}
<div class="flex-1 h-full overflow-y-scroll">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-xl lg:text-3xl font-bold text-gray-800 mb-6">Change Password</h1>
        <div class="bg-white shadow-md rounded-lg p-6 max-w-lg">
            <form method="post">
                {% csrf_token %}

                <div class="grid grid-cols-1 gap-6">
                {{form|crispy}}
            </div>
            <button type="submit" class="p-3 bg-stone-900 text-stone-50 rounded-md border mt-3 flex items-center space-x-4 gap-2 focus:scale-95"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/><polyline points="17 21 17 13 7 13 7 21"/><polyline points="7 3 7 8 15 8"/></svg>
                Save Changes
            
            </button>
        </form>
            </div>
        </div>
    </div>
</div>
{% endblock profile%}