{% extends 'core/dashboard/layout.html' %}
{% load custom_filters %}
{% block title %}
<title>TrixBank | Dashboard</title>
{% endblock title %}

{% block dashboard %}
<div class="flex-1 h-full overflow-y-scroll">
    <div class="border-b py-4 flex px-5 items-center justify-end">
        <div class="border rounded-full h-10 w-10">
        </div>
    </div>
    <div class="flex-1 flex flex-col gap-4 p-4 md:gap-8 md:p-6 space-x-3 mx-3 my-6 font-poppins overflow-y-auto">
        <div class="grid gap-6 px-3">
            <h1 class="text-2xl font-semibold">Dashboard</h1>
            <p class="text-sm leading-none text-gray-500 dark:text-gray-400">Welcome back! {{request.user}}</p>
        </div>
        <!-- Card Front -->
        <div class="relative max-w-md">
            <div class="bg-gray-900 rounded-t-lg h-12"></div>
            <div class="bg-white p-6 rounded-b-lg shadow-lg">
                <div class="flex justify-between mb-4">
                    <div class="w-2/3">
                        <div class="text-gray-700 text-sm font-medium">CARDHOLDER NAME</div>
                        <div class="text-gray-900 text-lg font-semibold">{{request.user}}</div>
                    </div>
                    <div class="w-1/3">
                        {% comment %} <img src="https://img.icons8.com/color/96/000000/visa.png" alt="visa logo" class="h-8"> {% endcomment %}
                        <span class="text-xs font-bold">TrixBank</span>
                    </div>
                </div>
                <div class="text-gray-700 text-sm mb-4">CARD NUMBER</div>
                <div class="text-gray-900 text-xl font-semibold mb-4">
                    <!-- Display 16 characters -->
                    {{request.user.account.account_number|format_account_number}}
                </div>
                <div class="flex justify-between">
                    <div class="w-1/2">
                        <div class="text-gray-700 text-sm">EXPIRES</div>
                        <div class="text-gray-900 font-semibold">--/--</div>
                    </div>
                    <div class="w-1/2">
                        <div class="text-gray-700 text-sm">CVV</div>
                        <div class="text-gray-900 font-semibold">---</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid gap-6 md:grid-cols-2 xl:grid-cols-4 ">
            <div class="border rounded-md p-3 space-y-8 shadow-md cursor-pointer">
                <div>
                  <h1 class="text-2xl font-bold">Balance</h1>
                  <p class="text-stone-500">Account Balance</p>
                </div>
                <div>
                  <div class="text-3xl font-semibold">{{request.user.account.balance|xaf_currency}}</div>
                </div>
              </div>
              
        </div>
        <div class="grid gap-6">
            <div class="border shadow-md p-3 space-y-8">
                <div>
                    <h1 class="text-2xl font-bold">Transactions</h1>
                    <p class="text-stone-500">Lastest transactions</p>
                  </div>
                  <div>
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Transaction ID</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for transaction in transactions %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ transaction.transaction_id }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ transaction.get_transaction_type_display }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ transaction.amount|xaf_currency }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ transaction.transaction_date }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if transaction.status == 'Pending' %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full select-none cursor-pointer bg-yellow-100 text-yellow-800">Pending</span>
                                    {% elif transaction.status == 'Success' %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full select-none cursor-pointer bg-green-100 text-green-800">Success</span>
                                    {% elif transaction.status == 'Failed' %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full select-none cursor-pointer bg-red-100 text-red-800">Failed</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock dashboard %}
