{% extends 'core/dashboard/layout.html' %}
{% load custom_filters %}

{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}
<title>TrixBank | Deposit</title>
{% endblock title %}

{% block dashboard %}
<div class="flex-1 h-full overflow-y-scroll">
    <div class="border-b py-4 flex px-5 items-center justify-end">
        <div class="border rounded-full h-10 w-10">
        </div>
    </div>
    <div class="flex-1 flex flex-col gap-4 p-4 md:gap-8 md:p-6 space-x-3 mx-3 my-6 font-poppins">
        <div class="grid gap-6 px-3">
            <h1 class="text-2xl font-semibold">Deposit</h1>
            <p class="text-sm leading-none text-gray-500 dark:text-gray-400">Deposit money in your account</p>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="flex gap-2 items-center {% if message.tags %}{{ message.tags }}{% endif %} px-4 py-3 rounded-md relative" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
                        <span class="block sm:inline">{{ message }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            {% if form %}
        <div class="shadow-md rounded-md p-2 border max-w-md">
            

            
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div>
                        <button class="border p-2 rounded-md bg-stone-900 text-stone-50">
                            Deposit
                        </button>
                    </div>
                </form>
        </div>
        {% endif %}

    </div>
</div>
{% endblock dashboard%}